html,
body {
    width: 100%;
    overflow-y: auto;
    color: #475ea9;
}

html {
    padding-top: 80px!important;
    padding-bottom: 60px!important;
}

body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'BPG_Arial';
    src: url('../fonts/BPG_Arial.eot') format('embedded-opentype'), url('../fonts/BPG_Arial.svg') format('svg'), url('../fonts/BPG_Arial.ttf') format('truetype'), url('../fonts/BPG_Arial.woff') format('woff');
}

@font-face {
    font-family: 'BPG_Arial_Caps';
    src: url('../fonts/BPG_Arial_Caps.eot') format('embedded-opentype'), url('../fonts/BPG_Arial_Caps.svg') format('svg'), url('../fonts/BPG_Arial_Caps.ttf') format('truetype'), url('../fonts/BPG_Arial_Caps.woff') format('woff');
}

.section {
    padding: 20px;
    min-height: 400px;
    border-bottom: 1px solid #dbdbdb;
}

h2,
h1,
h2>span,
h1>span {
    font-weight: bold;
    font-family: 'BPG_Arial_Caps'!important;
}

p,
h3,
h4,
h5,
h6,
div,
span {
    font-family: 'BPG_Arial';
}


/* bootstrep override */

.navbar-default,
.footer {
    background-color: #0a2161;
    border-color: #003399;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.navbar-brand {
    padding: 0;
}

.navbar-brand,
.navbar-brand>img {
    height: 80px;
}

.navbar-default .navbar-nav>li>a {
    height: 80px;
    line-height: 50px;
    color: #ffcb01!important;
    font-size: 16px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #003399!important;
    background: #ffcb01;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #003399;
}

.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:active {
    background-color: #003399;
    color: #ffcb01!important;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #003399;
}

.navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    background: #0a2161;
}

.dropdown-menu>li>a {
    color: #ffcb01!important;
}

.dropdown-menu>li>a:hover {
    background: #003399;
}

.header {
    height: 300px;
    background: #475ea9;
}

.brand-logo>img {
    width: 320px;
}

.thumbnail {
    background: rgba(0, 0, 0, .12);
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* carousel */

#myCarousel {
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.carousel-control>span {
    color: #fff;
}

.flag {
    width: 40px;
    margin-left: 10px;
    float: right;
    cursor: pointer;
}

.flag>img {
    width: 40px;
    border: 2px solid;
    border-radius: 3px;
}

.project-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.photo-collage {
    width: 100%;
    max-width: 960px;
    height: 400px;
    background: #000;
    margin: auto;
}

.navigation-buttons {
    margin: auto;
    text-align: center;
    margin-top: -22px;
}

.navigation {
    padding-bottom: 100px;
}

.footer {
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0!important;
}

.footer-content {
    font-weight: bold;
    color: #000;
}

.text-container {
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
}

@media only screen and (max-width: 769px) {
    .navbar-default .navbar-nav>li>a {
        height: 40px!important;
        line-height: 40px;
    }
    .navbar-brand>img {
        height: 50px;
    }
}

body {
    position: relative;
}

#section1 {
    background-color: #f1f1f1;
    color: #0a2161;
}

#section2,
#section21,
#section22,
#section23 {
    background-color: #f7f7f7;
    color: #0a2161;
}

#section22 {
    background-color: #f7f7f7;
    color: #0a2161;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .5);
}

#section3 {
    background-color: #f1f1f1;
    color: #0a2161;
}

#section41 {
    background-color: #f7f7f7;
    color: #0a2161;
}

#section42 {
    background-color: #f1f1f1;
    color: #0a2161;
}

.publications-thumb {
    padding: 20px;
}

.publications-thumb>a:hover {
    text-decoration: none!important;
}